[submodule "maxminDiversitySet"]
	path = maxminDiversitySet
	url = https://github.com/chrisAta/maxminDiversitySet.git
[submodule "tabstuSearch"]
	path = tabstuSearch
	url = https://github.com/chrisAta/tabstuSearch.git
